 <div style="display:fixed;border-style: none;border-color: black;width: 100%;height: 150px;display: block;">
    <div style="display: block;text-align: center;">
        healthcare website
    </div>
<div style="padding: 10px;">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">about us</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">products</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">terms and conditions</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">contact</a>
        </li> 
    </ul>
</div>
</div>

<div style="display: flex;height: 50px;width: 100%;">

</div>

<div style="display: flex">

    <div style="border-color: black;border-style: none;width: 20%;height: 500px;">
    </div>

    <div style="border-color: black;border-style: none;width: 55%;height: 500px; display: flex;">
         
        <div style="width: 100%;border-style:none ;border-color: green;height: 130px;">
            <div style="display: flex;">
            <div style="height: 70px;
               border: 5px;
               width: 20%;
               border-color: #000000;
               border-style: none;
               display: block;"> 
               <div style="margin: 10px;">
                care
               </div>
               
               </div>
               <div style="height: 70px;
               width: 15%;
               border:5px;
               border-color: black;
               border-style: none;">
               <div style="margin:10px;">
                   cover
                <div>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: white; color: black;border-color: white;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          5.5L
                        </button>
                    </div>
                </div>
               </div>
               </div>

               <div style="height: inherit;
               width: 30%;
               border:5px;
               border-color: black;
               border-style: none;">
               <div style="margin: 10px;">
                cashless hospitals
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle"  style="border-color: white;background-color: white;color: black;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      160
                    </button>
                </div>
               </div>

            </div>

            <div style="height: inherit;
                           width: 25%;
                           border:5px;
                           border-color: black;
                           border-style: none;">
                <div style="margin: 10px;
                           width: 30%;">
                    <button pButton type="button" class="p-button-danger custombutton"> 409/month</button>
                </div>
            
            </div>

            <div style="height: 70px;
                           width: 10%;
                           border:5px;
                           border-color: black;
                           border-style: none;">
                <div style="padding: 10px;">
                    <p-button icon="pi pi-bookmark" iconPos="right"></p-button>
            
                </div>
            </div>



    </div>
    <div style="height: 50px;border-top-color:lightslategrey ; border-style: none;margin-top: 5px;display: flex;">
        <div style="width: 50px;padding-left: 10px;padding-top: 10px;">
            <i class="pi pi-check"></i>
        </div>

        <div style="width: 20%;padding-top: 10px;">
            add to compare
        </div>

        <div style="color: green;padding-top:10px;">
            view features
        </div>

        <div style="padding-left:100px;padding-top: 10px;">
            <i class="pi pi-star"></i> telemedical |   4 year waiting period               
        </div>
        


    </div>

    

</div>
