.home{
    height: 100vh;
}
.nav{
    background-color: rgb(240, 243, 240);
    height: 50px;
    justify-content: space-around;
}
.container-products{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    border-top: 3px;
    border-color: black;
    background-color: rgb(215, 223, 200);
    height: inherit;
    flex-wrap: wrap;
}
.card{
    height: min-content;
    margin:10px
}